.body {
    margin: 0 auto;
    width: 100%;
}

.margin-zero {
    margin: 0 auto;
}

.header {
    background: #000000;
    color: #FFFFFF;
}

.logo {
    width: 99%;
}

.logosize {
    width: 50px;
}

.floatleft {
    float: left;
}

.floatright {
    float: right;
}

.clrboth {
    clear: both;
}

.margin-10 {
    margin-right: 20px;
}

.mar-t-10 {
    margin-top: 20px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.wid-30 {
    width: 30%;
}

.wid-70 {
    width: 70%;
}

.arrow {
    border: solid rgb(252, 248, 248);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

.blu-btn {
    color: FFFFFF;
    background: #7abcf7;
    border: 1px solid #7abcf7;
    border-radius: 10px;
    padding: 3px;
}

.mar-bot {
    margin-bottom: 10px;
}

.mart-10{
    margin-top: 10px;
}

.inner-con2 {
    background: #444444;
}

.width-80 {
    width: 80%;
}

.margin-rig {
    width: 25%;
}

.mar-t-10 {
    margin-top: 21px;
}

.section-4 {
    width: 100%;
}

.width90 {
    width: 99%;
}

.margin-right {
    margin-right: 20px;
}

.pad-20 {
    padding: 20px;
}

.image-st {
    width: 1000px;
    height: 200px
}

.div-bi {
    background-image: url("images/ww89898.jpg");
    /* background-size: 300px 100px; */
    height: 150px;
    /* background-repeat: no-repeat; */

}

.imagecont {
    padding-top: 60px;
    padding-right: 60px;
    color: #FFFFFF;
    font-style: italic;
}

.text-cen {
    text-align: center;
}

.img-ct {
    background-color: #FFFFFF;
    color: #000000;
    margin-right: 55px;
}

.m-t {
    background: #FFFFFF;
    width: 80%;
    margin-top: 225px;
    color: #000000;
}

.date {
    font-size: 10px;
}

.wid-20 {
    width: 25%;
}

.bg {
    background: #FFFFFF;
    color: #000000;
}

.font-15 {
    font-size: 15px;
}

.width-85 {
    width: 85%;
}

.mar-r {
    margin-right: 5%;
}

.img-wh {
    width: 100%;
}

.bt {
    text-align: center;
    background: #77bbfa;
    border: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 10px;
}

.wt-2 {
    width: 225px;
}

.imgcomheight {
    height: 226px;
}

.width-90w {
    width: 90%;
}

.mobile_menu {
    display: none;
}
.menu-navv{
    display: none;
}
.wt-20{
    width: 30%;
}
.wt-70p{
    width: 70%;
}
.ipod{
    display: none;
}

@media screen and (max-width:600px) and (min-width:320px) {
    .mobile_menu {
        display: block;
    }

    .desktop_menu {
        display: none;
    }

    .wid-30,
    .wid-70 {
        width: 100%;
    }

    .floatright {
        float: none;
        text-align: center;
    }

    .margin-10 {
        margin-right: 0px;
    }

    .width-80 {
        width: 100%;
    }

    .wid-20 {
        width: 100%;
    }

    .width-90w {
        width: 100%;
    }

    .bar-m {
        margin-left: 80%;
        margin-top: 6%;
    }
    .disI{
        display: inline;
    }
    .floatrgt{
        float: right;
    }
    .widt-14{
        width: 14%;
    }
}
@media screen and (max-width:900px) and (min-width:601px){
    .width90{
        width: 97%;
    }
    .ipod{
        display: block;
    }
    .wid-20{
        width: 50%;
    }
    /* .imgcomheight{
        height: 260px;
    } */
    .width-80{
        width: 100%;
    }
    .imgcomheight{
        height:295px;
        background-size: cover;
    }
    .mar-l{
        margin-left:20px;
    }
}
